.form_container{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    background-color: #0004;
    backdrop-filter: blur(2px);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 200ms ease;
}

.form{
    background-color: white;
    padding: 1rem 1.5rem 1rem;
    border-radius: 0.7rem;
    width: 100%;
    max-width: 350px;
    position: relative;
}

.form_close{
    transform: scale(0);
}

.form_title{
    text-align: center;
    color: rgb(3, 3, 73);
    margin-bottom: 1rem;
    font-weight: 700;
}

.form_x{
    position: absolute;
    font-size: 0.8rem;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    font-weight: bold;

}

.form_x:hover{
    transform: scale(1.2);
}

.form_section  {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-bottom: 1.2rem;
}

.form_label{
    font-size: 1rem;
    font-weight:600;
}

.form_input{
    border:1px solid #ccc;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size:1rem;
    padding: 0.5rem 1rem;
}

.form_btn{
    display: block;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.2rem 1rem;
    border-radius: 0.3rem;
    border: none;
    background-color: var(--color_btn);
    color: var(--color_text);
    cursor: pointer;
    filter: grayscale(0.5);
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
    box-shadow: var(--shadow_btn);
}

.form_btn:hover{
    filter: grayscale(0);
}