:root{
    --color_btn: rgb(0, 128, 128);
    --color_text: white;
    --color_gray_text:rgb(33, 47, 60);
    --shadow_btn:rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    --shadow_userCard: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.app{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 3rem 4rem 3rem 4rem;
}

.header_title{
    font-size: 2.5rem;
}

.header_btn{
    font-weight:normal;
    font-size: 0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: var(--color_btn);
    color: var(--color_text);
    border: none;
    box-shadow: var(--shadow_btn);
}

.usercard_container{
    max-width: 1024px;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2000px;
    margin: 0 auto;
    padding-bottom: 3rem;
}

/*SCROLL BODY*/

body::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb{
    background-color: var(--color_btn);
    border-radius: 5px;
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-track {
    background-color: var(--first-color);
}

@media(max-width:700px){
    .header{
            margin: 2rem 1rem 1rem 2rem;
    }

    .header_title{
        font-size: 2rem;
    }

    .header_btn{
        font-weight:normal;
        font-size: 0.6rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

}